@charset 'UTF-8';

/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/dosis-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dosis Regular'), local('Dosis-Regular'),
       url('../../../fonts/dosis-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/dosis-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../fonts/dosis-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/dosis-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../fonts/dosis-v7-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../..//fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../../..//fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../..//fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../..//fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../..//fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../..//fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

// Core variables and mixins
//
@import "variables";
@import "mixins";



// Content
//
@import "content/typography";
@import "content/image";
@import "content/table";
@import "content/media";
@import "content/video";
@import "content/card";
@import "content/icon";



// UI Kit
//
@import "uikit/accordion";
@import "uikit/alert";
@import "uikit/badge";
@import "uikit/button";
@import "uikit/counter";
@import "uikit/constellation";
@import "uikit/dropdown";
@import "uikit/modal";
@import "uikit/nav";
@import "uikit/pricing";
@import "uikit/progress";
@import "uikit/scroll";
@import "uikit/social";
@import "uikit/spinner";
@import "uikit/tab";
@import "uikit/tooltip";
@import "uikit/rating";



// Plugins
//
@import "plugin/swiper";
@import "plugin/lity";



// Forms
//
@import "form/input";
@import "form/control";



// Blocks
//
@import "block/feature";
@import "block/partner";
@import "block/portfolio";
@import "block/press";
@import "block/shop";
@import "block/team";




// Layout
//
@import "layout/scafolding";
@import "layout/grid";
@import "layout/topbar";
@import "layout/mega-menu";
@import "layout/header";
@import "layout/drawer";
@import "layout/section";
@import "layout/footer";



// Utilities
//
@import "utility/border";
@import "utility/color";
@import "utility/bg-img";
@import "utility/misc";
@import "utility/no";
@import "utility/sizing";
@import "utility/spacing";
@import "utility/typography";
