

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
    hyphens: auto;
  }
}

.text-white p {
  color: $gray-100;
}

.bg-ledgy {
  background-image: linear-gradient(135deg, #20a8d8 0%, #00afc9 100%);
}
.nav-link {
  font-size: 0.8em !important;
}
.btn {
  font-size: 0.8em;
}
.nav-navbar .nav-link, .btn {
  text-transform: none;
  font-weight: 400;
}
h6 {
  font-family: 1em;
}
h1, h2 {
  hyphens: auto;
}
.footer {
  line-height: 1.9;
}
.partner {
  text-align: left;
}
.section-header p {
  font-size: inherit;
}
.btn {
  font-size: 0.6em;
}
.btn-xl {
  font-weight: 400;
  font-size: 0.8em;
}
